In [8]:
import os
import pandas as pd
from typing import Tuple
from janitor import clean_names

In [9]:
def load_data(path: str) -> Tuple[pd.DataFrame]:
    enei = pd.read_excel(os.path.join(path, "enei.xlsx"))
    features = pd.read_excel(os.path.join(path, "dict.xlsx"), skiprows=4).iloc[:318, :]
    factors = pd.read_excel(os.path.join(path, "dict.xlsx"), skiprows=326)
    return clean_names(enei), clean_names(features), clean_names(factors)

enei_raw, features, factors = load_data(path=os.path.join(os.getcwd(), "raw"))

In [11]:
enei_raw

,dominio,areag,factor,upm,hogar_num,id,p03a02,p03a03,p03a05,p03a06,...,p07a12c,p07a12d,p07a12e,pet,pea,ocupados,desocupados,subvisibles,inactivos,formalidad
0,1,1,386,100011,2721,1,2,75,1,3,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN
1,1,1,386,100011,2721,2,1,35,3,3,...,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,2.0
2,1,1,386,100011,2721,3,2,35,4,3,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN
3,1,1,386,100011,2721,4,2,15,5,3,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN
4,1,1,386,100011,5021,1,2,75,1,3,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20168,3,2,1353,725722,2254,1,1,63,1,3,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN
20169,3,2,1353,725722,2254,2,2,63,2,3,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN
20170,3,2,1353,725722,2269,1,1,56,1,3,...,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,1.0
20171,3,2,1353,725722,2269,2,2,46,2,3,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN
20172,3,2,1353,725722,2269,3,1,26,3,3,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN